*{
    margin:0%;
    padding: 0%;
    background-color: bisque;
    height: auto;
}
.navbar{
    display:flex;
    margin:20px;
}
ul{
    display:flex;
}
ul li{
    list-style-type: none;
   
}
ul li a{
    margin:20px 20px;
    text-decoration: none;
    margin-left: 20%;
    padding-left: 25px;
}

.sign{
    border: 2px solid black;
    padding:10px 30px;
    border-radius:20px ;
    justify-self: center;
    margin-left: 400px;
}
.search{

border: 2px solid black;
padding:10px 300px 10px 10px;
border-radius:20px ;
}
.intro{
    margin:20px 10px;
    text-align: center;
}
h1{
    font-size: 40px;
    color:coral;
    font-weight: 900;
}
h4{
    color: chocolate;
}
.articles{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.img{
    width:350px;
    height:300px;
}
h4{
    padding:20px;
    text-align: center;
}
.butn{
border: 2px solid black;
padding:10px 10px;
border-radius:20px ;
margin-left: 80px;
}

